/*changes to body done here, default stuff,*/

body {
    margin: 0;
    background: #222;
    /*body background color*/
    font-family: sans-serif;
    color: white;
    font-weight: 400;
    /*changes thickness of font*/
}


/*header is a heade, meant for head stuff*/

header {
    width: 100%;
    /*take 100% width of page */
    position: fixed;
    /*keep header in place as you scroll*/
    background: #1ED760;
    /*change color of header*/
    top: 0px;
    /*star at 0 position from top */
    opacity: .7;
    /*trasperency*/
}


/*fucks wit logo on nav bar */

#navlogo {
    float: left;
    height: 50px;
    width: 50px;
}


/*pushes stuff to right side of nav bar, unless told otherwise (logocase)*/

.nav {
    float: right;
}


/*messes with list in general*/

.nav ul {
    margin: 0;
    /*no space around it, important for positioning of list */
    margin-right: 40px;
    /*shifting whole list a tad bit to the left*/
    list-style: none;
    /*take off default list bullet points/underlining*/
}


/*messes with whats inside of list*/

.nav li {
    display: inline-block;
    /*puts list items in a row, instead of column */
    margin-left: 50px;
    /*spacing between list items */
    padding-top: 15px;
    /*pushes items in list a bit down, not so close to top of page*/
    position: relative;
}

.nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #FFFFFF;
    position: absolute;
    top: 35px;
    width: 0%;
    -webkit-transition: ease-in-out 250ms;
}

.nav a:hover::before {
    /*goes along with code right above, sets width of animated underline*/
    width: 100%;
}

.nav a {
    /*messes with text on nav*/
    color: #000000;
    text-decoration: none;
    font-family: "Eras Bold ITC";
}


/*color when hovering over text on nav*/

.nav a:hover {
    color: rgba(0, 0, 0, 0.65);
}


/*start homepage section 70px from the top*/

.homepage {
    margin-top: 70px;
}

#login {
    margin-top: 70px;
}

#register {
    margin-top: 70px;
}


/*centering text to center of page*/

.homepage {
    text-align: center;
}


/*messes with big logo on hompage*/

.homepage img {
    align-content: center;
    width: 30%;
    height: 30%;
}

.dropdown-content {
    /*opacity: .9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
*/
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: relative;
    top: 30px;
    width: 0%;
    -webkit-transition: ease-in-out 250ms;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#atf {
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: url("../img/HeadphoneHomepage1.jpg") no-repeat center center;
    background-size: cover;
}

#btf {
    display: flex;
    flex-direction: row;
}

#btf2 {
    background: url("../img/btf1.jpg") no-repeat center center;
    background-size: cover;
}

#container1,
#container3 {
    text-align: center;
    float: left;
    width: 40%;
    padding: 10px;
}

#container2,
#container4 {
    text-align: center;
    float: right;
    width: 40%;
    padding: 10px;
    margin-left: 100px;
}


/*
#container2{
    float: right;
    width: 33.3%;    padding: 8px;
}\ No newline at end of file

*/

#player {
    float: right;
}

#playerLogIn {
    float: left;
    width: 75%;
    background: url("../img/HeadphoneHomepage1.jpg");
    background-size: cover;
}

#radar {
    display: inline-block;
    width: 25%;
    background: url("../img/loginbg.jpg");
    background-size: cover;
}

#grad1 {
    height: 70px;
    background: black;
    /* For browsers that do not support gradients */
    background: linear-gradient(black, #575757);
    /* Standard syntax (must be last) */
}

#th {
    height: 100vh;
    display: flex;
    flex-direction: row;
    /*background: url("../img/HeadphoneHomepage1.jpg") no-repeat center center;*/
    /*background-size: cover;*/
}

#grad2 {
    height: 78px;
    background: #575757;
    background: linear-gradient(#575757, black);
}

#footer {
    position: fixed;
    height: 3px;
    background-color: darkred;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#content {
    text-align: right;
    float: right;
    width: 75%;
}

#login {
    display: inline-block;
    width: 25%;
    background: url("../img/loginbg.jpg");
    background-size: cover;
}

#th {
    display: inline-block;
    width: 100%;
    background: url("../img/btf1.jpg")fixed;
    background-size: cover;
}

#bf {
    display: inline-block;
    width: 100%;
    background: url("../img/test4.jpg")fixed;
    background-size: cover;
}