<!DOCTYPE html>
<html lang="en">
<head>
    <title>TasteTest</title>
    <link rel = "stylesheet" type="text/css" href="main.css">
</head>

<style>
content{
	text-align:right;
    float: right;
    width: 75%;
}
login{
	display: inline-block;
    width: 25%;
    background: url("img/loginbg.jpg");
	background-size: cover;
}

#th{
        display: inline-block;
        width: 100%;
        background: url("img/btf1.jpg")fixed;
        background-size: cover;
    }

#bf{
    display: inline-block;
    width: 100%;
    background: url("img/test4.jpg")fixed;
    background-size: cover;
}
</style>

<header>
    <a href="homepage.html"><img src="img/test1nobg.png" id="navlogo" ></a>
    <div class="nav">
        <ul>
            <li><a href="homepage.html">HOME</a></li>
            <li><a href="about.html">ABOUT</a></li>
            {{if !.User.LoggedIn}}
            <li><p><input type="text" name="username" placeholder="Username" autofocus>
                   <input type="password" name="password" value="" placeholder="Password">
                   <class="submit"><input type="submit" name="cmdbutton" value="Login"></p></li>
            {{else}}
            <li class="dropdown">
                <a href="#drop">SETTINGS</a>
                <div class = "dropdown-content">
                    <a href="#">Preferances</a>
                    <a href="#">Sharing</a>
                    <a href="#">Signout</a>
                </div>
            </li>
            {{end}}
        </ul>
    </div>
</header>

<body>
	<div id = "atf">
	{{if !.User.LoggedIn}}
		<content>			
			<div class="homepage">
				<img src="img/test1.jpg">
				<p>Creates a personalized playlist based on your spotify listening habits for you to share with friends.</p>
				<p>Just connect your spotify account and a custom playlist will be created. You can download spotify <a href="https://www.spotify.com/us/download/other/" target="_blank">here.</a></p>
				<br></br>
				<p>After creation you can view your playlist here or port it to your Spotify account!</p>
				<p>As well as this...</p>
				<p>As well as this...</p>
			</div>
		</content>

		<login>
			<form method="post">
					<section class="container">

						<div id="register">
							<br></br><br></br><br></br><br></br>
							<h1><text class="detail">Sign Up!</text></h1>
							<p><input type="text" id="enterUsername" placeholder="Username" name="newusername" autofocus/></p>
							<p><input type="Password" id="userPassword" placeholder="Password" name="newpassword" /></p>
							<p><input type="Password" id="userPassword" class="form-control input-sm chat-input" placeholder="Confirm Password" name="confirm" /></p>

							<div class="loginbtn">
								<p class="submit"><input type="submit" name="cmdbutton" value="OK"></p>
								<p class="submit"><input type="submit" name="cmdbutton" value="Cancel"></p>
							</div>
                    
							<h2 id="usedmsg" style="position: relative; top: 12px; color: red;"></h2>
						</div>

					</section>
			</form>
		</login>
	</div>

    <div id="grad1">

    </div>

	<div class="btf1">
		<div id="th">
		<div id="container1">
			<h1>Taste Taste</h1>
			<img src="img/test1nobg.jpg">
			<p>Creates a personalized playlist based on your spotify listening habits for you to share with friends.</p>
			<p>Just connect your spotify account and a custom playlist will be created. You can download spotify <a href="https://www.spotify.com/us/download/other/" target="_blank">here.</a></p>
			<p>TESTING NAV BAR FIXED POSITION</p>
			<p>TESTING NAV BAR FIXED POSITION</p>
			<p>TESTING NAV BAR FIXED POSITION</p>
		</div>

        <div id = "player">
            <h1>Sample Playlist</h1>
            <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:3rgsDhGHZxZ9sB9DQWQfuf" width="520" height="440" frameborder="0"></iframe>
        </div>
	</div>
        <div id="grad2">

        </div>
        <div id="bf">
		<div id="container2">
			<h1>Taste Taste</h1>
			<img src="img/test1.jpg">
			<p>Creates a personalized playlist based on your spotify listening habits for you to share with friends.</p>
			<p>Just connect your spotify account and a custom playlist will be created. You can download spotify <a href="https://www.spotify.com/us/download/other/" target="_blank">here.</a></p>
			<p>TESTING NAV BAR FIXED POSITION</p>
			<p>TESTING NAV BAR FIXED POSITION</p>
			<p>TESTING NAV BAR FIXED POSITION</p>
		</div>

	<div id = "btf2">

		<div id="container3">
			<h1>Taste Taste</h1>
			<img src="img/taste.jpeg" width = "300" height="300">
			<p>Creates a personalized playlist based on your spotify listening habits for you to share with friends.</p>
			<p>Just connect your spotify account and a custom playlist will be created. You can download spotify <a href="https://www.spotify.com/us/download/other/" target="_blank">here.</a></p>
			<p>TESTING NAV BAR FIXED POSITION</p>
			<p>TESTING NAV BAR FIXED POSITION</p>
			<p>TESTING NAV BAR FIXED POSITION</p>
		</div>

	</div>
        </div>
    </div>
        <!--<div id = "player">
            <h1>Sample Playlist</h1>
            <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:3rgsDhGHZxZ9sB9DQWQfuf" width="620" height="540" frameborder="0"></iframe>
        </div>-->

    <div id="footer">

    </div>

</body>



<!-----------------------THIS SECTION WILL BE FOR THE STUFF NOT SHOWN IF USER IS LOGGED IN--------------------------------->

<!--
{{else}}
<body>
	<div class = "bottom">
        <div id = "player">
<iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:3rgsDhGHZxZ9sB9DQWQfuf" width="720" height="640" frameborder="0"></iframe>

</div>
</div>
</body>
{{end}}
-->
