<!DOCTYPE html>
<html lang="en">

<head>
    <title>TasteTest</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<form method="post">
    <header>
        <a href="homepage.html"><img src="../img/test1nobg.png" id="navlogo"></a>
        <div class="nav">
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                {{if not .User.LoggedIn}}
                <li>
                    <p>
                        <input type="text" name="username" placeholder="Username" autofocus>
                        <input type="password" name="password" value="" placeholder="Password">
                        <input type="submit" name="cmdbutton" value="Login">
                    </p>
                </li>
                {{else}}
                <li class="dropdown">
                    <a href="#drop">{{.User.Username}}</a>
                    <div class="dropdown-content">
                        <a href="#">Settings</a>
                        <a href="/logout">Signout</a>
                    </div>
                </li>
                {{end}}
            </ul>
        </div>
    </header>

    <body>
        <div id="atf">
            {{if not .User.LoggedIn}}
            <content>
                <div class="homepage">
                    <img src="../img/test1.jpg">
                    <p>Creates a personalized playlist based on your spotify listening habits for you to share with friends.</p>
                    <p>Just connect your spotify account and a custom playlist will be created. You can download spotify <a href="https://www.spotify.com/us/download/other/" target="_blank">here.</a></p>
                    <br></br>
                    <p>After creation you can view your playlist here or port it to your Spotify account!</p>
                    <p>As well as this...</p>
                    <p>As well as this...</p>
                </div>
            </content>

            <login>
                <section class="container">

                    <div id="register">
                        <br></br><br></br><br></br><br></br>
                        <h1><text class="detail">Sign Up!</text></h1>
                        <p><input type="text" id="enterUsername" placeholder="Username" name="newusername" autofocus/></p>
                        <p><input type="Password" id="userPassword" placeholder="Password" name="newpassword" /></p>
                        <p><input type="Password" id="userPassword" class="form-control input-sm chat-input" placeholder="Confirm Password" name="confirm" /></p>

                        <div class="loginbtn">
                            <p class="submit"><input type="submit" name="cmdbutton" value="OK"></p>
                            <p class="submit"><input type="submit" name="cmdbutton" value="Cancel"></p>
                        </div>
                        <h2 id="usedmsg" style="position: relative; top: 12px; color: red;"></h2>
                    </div>

                </section>
            </login>
        </div>

        <div id="grad1">

        </div>

        <div class="btf1">
            <div id="th">
                <div id="container1">
                    <h1>Taste Taste</h1>
                    <img src="../img/test1nobg.jpg">
                    <p>Creates a personalized playlist based on your spotify listening habits for you to share with friends.</p>
                    <p>Just connect your spotify account and a custom playlist will be created. You can download spotify <a href="https://www.spotify.com/us/download/other/" target="_blank">here.</a></p>
                    <p>TESTING NAV BAR FIXED POSITION</p>
                    <p>TESTING NAV BAR FIXED POSITION</p>
                    <p>TESTING NAV BAR FIXED POSITION</p>
                </div>

                <div id="player">
                    <h1>Sample Playlist</h1>
                    <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:3rgsDhGHZxZ9sB9DQWQfuf" width="520" height="440" frameborder="0"></iframe>
                </div>
            </div>

            <div id="grad2">

            </div>

            <div id="bf">
                <div id="container2">
                    <h1>Sample Radar Graph</h1>
                    <canvas id="radarChart" height="600" width="600"></canvas>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                    <script>
                        var CHART = document.getElementById("radarChart");
                        var radarChart = new Chart(CHART, {
                            type: 'radar',
                            data: data = {
								labels: ["Soft Rock", "Adult", "Jazz", "Rap", "Classical", "Blues", "Alternative"],
                                datasets: [{
                                    label: "Taste Test Genre Distribution Graph",
                                    backgroundColor: "rgba(179,181,198,0.2)",
                                    borderColor: "rgba(179,181,198,1)",
                                    pointBackgroundColor: "rgba(179,181,198,1)",
                                    pointBorderColor: "#fff",
                                    pointHoverBackgroundColor: "#fff",
                                    pointHoverBorderColor: "rgba(179,181,198,1)",
                                    data: [65, 59, 90, 81, 56, 55, 40]
                                }]
                            },
                            options: {
                                scale: {
                                    angleLines: {
                                        color: 'rgba(0,255,0,0.2)'
                                    },
                                    gridLines: {
                                        color: 'rgba(0,255,0,0.2)'
                                    }
                                }
                            }
                        });
                    </script>
                </div>
                <div id="container3">
                    <p>This is a sample graph that will illustrate the metrics of song displaying the genres the song can be associated with .</p>
                    <p>Just connect your spotify account and a custom playlist will be created. You can download spotify <a href="https://www.spotify.com/us/download/other/" target="_blank">here.</a></p>
                    <p>TESTING NAV BAR FIXED POSITION</p>
                    <p>TESTING NAV BAR FIXED POSITION</p>
                    <p>TESTING NAV BAR FIXED POSITION</p>
                </div>
            </div>
        </div>

        <!-- ---------------------THIS SECTION WILL BE FOR THE STUFF NOT SHOWN IF USER IS LOGGED IN-------------------------------- -->

        {{else}}
        <div class="btf1">
            <div id="player">
                <iframe src="https://embed.spotify.com/?uri={{.User.UserPlaylistID}}" width="600" height="600" frameborder="0"></iframe>
            </div>

                <div id="container2">
                    <h1>{{.User.SpotifyUsername}} Genre Distrubution Graph</h1>
                    <canvas id="radarChart" height="420" width="420"></canvas>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                    <script>
                        var CHART = document.getElementById("radarChart");
                        var radarChart = new Chart(CHART, {
                            type: 'radar',
                            data: data = {
                                labels: {{.Radar.Labels}},
                                datasets: [{
                                    label: "Taste Test Genre Distribution Graph",
                                    backgroundColor: "rgba(179,181,198,0.2)",
                                    borderColor: "rgba(179,181,198,1)",
                                    pointBackgroundColor: "rgba(179,181,198,1)",
                                    pointBorderColor: "#fff",
                                    pointHoverBackgroundColor: "#fff",
                                    pointHoverBorderColor: "rgba(179,181,198,1)",
                                    data: {{.Radar.Data}}
                                }]
                            },
                            options: {
                                scale: {
                                    angleLines: {
                                        color: 'rgba(0,255,0,0.2)'
                                    },
                                    gridLines: {
                                        color: 'rgba(0,255,0,0.2)'
                                    }
                                }
                            }
                        });
                    </script>
        <div class="buttonHolder">
            <a href="/home?term=short" class="button tick"></a>
            <a href="/home?term=medium" class="button cross"></a>
            <a href="/home?term=long" class="button heart"></a>
        </div>
                </div>
            {{end}}
		<script src="../js/ajax.js"></script>
    </body>
</form>

</html>