<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/ico" sizes="32x32" href="../images/diningphilo.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
    <title>release.it</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/movies.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/countdown.js" type="text/javascript"></script>
    <style>
        #homepage {
            visibility: hidden;
        }
    </style>
</head>

<body>
    {{template "header" .}}


    <div id="atf">
        <div id="MainLogo">
            <figure>
                <img src="../img/clock.svg">
            </figure>
        </div>
        <center>
            <form method="POST">
                    <div class="SearchBar">
                        <input id="s" type="text" name="search" placeholder="Search...">
                        <button class="specify" name="cmdSearch" value="movies_tv">Search</button>
                    </div>
                <div id="mass">
                    {{if .User.LoggedIn}} {{if .Watched}}
                    <table style="font-size: 1.25rem">
                        <thead style="font-size: 1rem">
                            <td>
                               <center>
                                <text class="detail">Detail</text>
                                </center>
                            </td>
                            <td>
                                <center>
                                <text class="detail">Title</text>
                                </center>
                            </td>
                            <td>
                                <center>
                                <text class="detail">Rating</text>
                                </center>
                            </td>
                            <td>
                                <center>
                                <text class="detail">M</text>
                                </center>
                            </td>
                            <td>
                                <center>
                                <text class="detail">T</text>
                                </center>
                            </td>
                            <td>
                                <center>
                                <text class="detail">G</text>
                                </center>
                            </td>
                            <td style="width: 100px">
                                <center>
                                <text class="detail">Release</text>
                                </center>
                            </td>
                            <td>
                                <center>
                                <text class="detail">Remove</text>
                                </center>
                            </td>
                        </thead>
                        <tbody>
                            {{$tz := .User.Timezone}} {{range $idx, $data := .Watched}}
                            <tr>
                                <td class="buttoncenter"><button class="btnInfoAdd" type="submit" name="cmdID" value="{{$data.ID}}">Info</button></td>
                                <td>{{$data.Title}}</td>
                                {{if $data.Rating}}<td><center>{{$data.Rating}}</center></td>{{else}}
                                <td><center>N/A</center></td>{{end}}
                                <td><input class="buttoncenter" type="checkbox" disabled {{if $data.Movie}}checked{{end}}></td>
                                <td><input class="buttoncenter" type="checkbox" disabled {{if $data.TV}}checked{{end}}></td>
                                <td><input class="buttoncenter" type="checkbox" disabled {{if $data.Game}}checked{{end}}></td>
                                <td>
                                    {{if $data.Future}}
                                    <script type="application/javascript">
                                    var clk = new Countdown({year: {{$data.Year}},
	            					month: {{$data.Month}},
		    	        			day: {{$data.Day}},
			    		        	hour: {{$data.Hours}},
				    		        minute: {{$data.Minutes}},
					    	        timezone: {{$tz}},
    						        rangeHi:"day",
	    					        width:150,
 		    				        height:30,
				    		        style: "flip"
    			       			    });
                                    </script> {{else}} <center> {{$data.Release}} </center> {{end}}
                                </td>
                                <td class="buttoncenter"><button class="btnRemove" type="submit" name="cmdRM" value="{{or $idx 4096}}">Remove</button></td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    {{end}} {{end}}
                </div>

                <div id="moviemodal" class="modalDialog">
                    <div>
                        <a href="#close" title="Close" class="close">X</a>
                        <img class="poster" src="{{.MovieTvGame.Image}}">
                        <div class="movieDetailMsg">
                            <h6>{{.MovieTvGame.Description}}</h6>
                            <h6>Genres:{{range $idx, $g := .MovieTvGame.Genres}}&nbsp{{$g}}&nbsp{{end}}</h6>
                            <h5>{{if .MovieTvGame.Youtube}}<a href={{.MovieTvGame.Youtube}} target="_blank">Trailer</a>{{else}}&nbsp{{end}}</h5>
                            <h6>Release Date: {{.MovieTvGame.ReleaseDate}}</h6>
                        </div>
                    </div>
                </div>

                <div id="tvmodal" class="modalDialog">
                    <div>
                        <a href="#close" title="Close" class="close">X</a>
                        <img class="poster" src="{{.MovieTvGame.Image}}">
                        <div class="movieDetailMsg">
                            <h6>{{.MovieTvGame.Description}}</h6>
                            <h6>{{.MovieTvGame.TVEpisodes}} Episodes over {{.MovieTvGame.TVSeasons}} Seasons.</h6>
                            <h6>Genres:{{range $idx, $g := .MovieTvGame.Genres}}&nbsp{{$g}}&nbsp{{end}}</h6>
                        </div>
                    </div>
                </div>

                    <div id="gamemodal" class="modalDialog">
                        <div>
                            <a href="#close" title="Close" class="close">X</a>
                            <img class="poster" src="{{.MovieTvGame.Image}}">
                            <div class="movieDetailMsg">
                                <h6>{{.MovieTvGame.Description}}</h6>
                                <h6>Genres:{{range $idx, $g := .MovieTvGame.Genres}}&nbsp{{$g}}&nbsp{{end}}</h6>
                                <h5>{{if .MovieTvGame.Youtube}}<a href={{.MovieTvGame.Youtube}} target="_blank">Trailer</a>{{else}}&nbsp{{end}}</h5>
                                <h6>Release Date: {{.MovieTvGame.ReleaseDate}}
                            </div>
                       </div>
                    </div>
            </div>

    </form>
    </center>

</body>

</html>
